/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Courier New';
}

/* Navigations */

.navbar {
    display: flex;
    justify-content: space-between;

    margin: 1.25em 2em 1.25em 2em;
}

.navbar h4 {
    text-align: center;
    width: 50%;
}

.navbar ul li {
    display: inline-block;
    padding: 0 0.25em 0 0.25em;
}

.navbar a {
    text-decoration: none;
    font-style: none;
    color: black;
}

/* header */