* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;

    font-family: Calibri;
}

main {
    margin: 20px 20px;
    padding: 30px 30px;

    display: flex;
    flex-direction: column;
    justify-content:right;

    width: 80%;

    border: 1px solid black;
}

/* section */

section {
    padding: 5px 0 5px 0;
}

section h1 {
    padding: 10px 0 0 0;

    border-top: 2px solid black;
}

.h-highlight {
    color: rgb(0, 47, 255);
    font-size: 17px;
}

.title-role {
    padding: 10px 0 10px 0;
}

.title-role, .title-h {
    color: green;
}

.title-h {
    padding: 5px 0 5px 0;
}

#experience-container ul li {
    margin-left: 20px;
}

#experience-container ul {
    padding: 10px 0 10px 0;
}

#basic-information a {
    text-decoration: none;
    color: black;
}