/* Global */

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

/* Main */

.flex-center {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

main {
    margin: 5em;
    padding: 3em 5em;
}

/* Password Containers */

.password-container {
    border: 1px solid black;
    padding: 2em;
    margin: 2.5em;
}

.password-header h1 {
    font-size: 42px;
}

.password-footer, .password-header{
    padding-top: 1em;
    padding-bottom: 1em ;
}

/* .password-container__length {
    padding: 0.5em;
} */

.password-container__length label {
    font-weight: bold;
}

.password-container__choices {
    display: flex;
    flex-direction: column;

    padding-top: 1em;
}

.password-container__choices p {
    padding-bottom: 0.25em;
    font-style: italic;
}

.password-container__buttons {
    padding-top: 1em;
}

#generateBtn {
    padding: 10px 15px;

    border: none;
    font-weight: bold;
    
    background-color: white;
    border: 1px solid black;
}

#generateBtn:hover {
    background-color: rgb(82, 143, 235);
}

#generateBtn:active {
    background-color: rgb(76, 133, 218);;
}

#passwordValue {
    min-width: 40%;
    max-width: 70%;
    width: 65%;
}

/* Checker Container */

.checker-container {
    border: 1px solid black;
    padding: 2em;
    margin: 2.5em;
}

.checker-container__header {
    padding: 1em;
}

.checker-container__header h1 {
    font-size: 42px;
}

.button-container {
    padding: 1em;
}

#checkBtn {
    padding: 0.75em 1.5em;
    background-color: white;
    border: 1px solid black;    

    font-weight: bold;
}

#checkBtn:hover {
    background-color: rgb(82, 143, 235);
}

#checkBtn:active {
    background-color: rgb(76, 133, 218);;
}