/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
  text-align: center;
  margin: 20px;
}

/* Main */

main {
  display: flex;
  justify-content: space-around;
}

/* Player Container */

.player-container {
  display: inherit;
  flex-direction: column;
  align-items: center;

  border: 1px solid black;
  padding: 15px;

  width: 20em;
  height: 22em;
}

.player-container__title {
  margin: 10px;
}

.player-container__choices__label {
  padding-left: 5px;
}

#playerOneChoiceResult, #playerTwoChoiceResult {
  padding-top: 15px;
}

#playerTwoChoiceImages {
  padding-top: 1em;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  size: 50px;
  font-weight: bold;

  margin: 20px;
}

button {
  padding: 10px 25px;
  background-color: lightblue;
  border: 1px solid black;
} 

button:hover {
  background-color: rgb(176, 222, 238);
}

button:active {
  background-color: rgb(136, 172, 184);
}